body{
	background-color: #f6f6f6;
}

/*Topnav*/
.topnav{
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #2d2d30;
	z-index: 999;
}
.nav{
	height: inherit;
	float: right;
	padding: 30px 40px !important;
	background-color: #2d2d30;
	display: block;
}
.topnav .nav a{
	color: #FFFFDA;
	padding: 10px 20px; 
	display: inline;
	font-family: 'Montserrat', sans-serif;
}
.topnav a:hover{
	color: #FE9D0C;
	transition: all .5s ease;
	text-decoration: none;
}
.nav-head{
	width: 30%;
	position: absolute;
	left: 10px;
	top: 25px;
}
.nav-head a{
	color: #ffffff;
	font-size: 20px;
	font-family: 'Sigmar One', serif;
}
.nav-toggle{
	display: none;
}
@media screen and (max-width: 768px){
	.topnav{
		height: 50px;
	}
	.nav{
		width: 100%;
		height: auto;
		display: none;
	}
	.nav a{
		width: 100%;
		display: block !important;
	}
	.nav-toggle{
		display: inline;	
	}
	.nav-head{
		width: 100%;
		height: inherit;
		position: relative;
		top: 0;
		left: 0;
		padding: 10px 30px;
	}
	.nav-head .header{
		display: inline;
		margin-left: 10px;
	}
}

/*Home*/
.home{
	width: 100%;
	height: 350px;
	margin-top: 80px;
	background-image: url('../images/banner-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.banner{
	width: 100%;
	height: inherit;
	background: linear-gradient(to bottom, RGBA(0, 0, 0, 0.5) 88%, #FFFFDA 100%);
}
.banner h1{
	color: #ffffff;
	font-size: 30px;
	font-family: 'Sigmar One', serif;
	padding-top: 145px;
}
@media screen and (max-width: 768px){
	.home{
		margin-top: 50px;
	}
}

/*Vehicles*/
.vehicles{
	width: 100%;
	background-color: #f6f6f6;
}
.vehicles h4{
	color: #2d2d30;
	font-size: 26px;
	font-family: 'Sigmar One', serif;
	text-align: center;
}
.vehicles .btn-group-justified{
	width: 60%;
	margin: auto;
	border-radius: 5px;
	padding: 0;
}
.vehicles .btn-group-vertical{
	display: none;
}
.vehicles .btn-group-justified button{
	width: 30%;
}
.vehicles .btn-group button{
	background-color: transparent; 
	color: #FE9D0C;
	border: 1.5px #FE9D0C solid;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	text-align: center;
	margin: 0;
}
.vehicles .btn-group button:hover{
	background: #FE9D0C;
	color: #fff;
	transition: all .35s ease linear;
	-webkit-transition: all .35s ease linear;
	-moz-transition: all .35s ease linear;
	-ms-transition: all .35s ease linear;
}
.vehicles .btn-group button:focus{
	background: #FE9D0C;
	color: #fff;
}
.vehicle-list{
	padding: 20px 0px;
}
.vehicle-details{
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #f6f6f6;
	margin: 0px !important;
	padding: 0px 0px 10px 0px !important;
}
.vehicle-details .vehicle-image{
	width: 100%;
	height: 170px !important;
	text-align: center;
}

.vehicle-details .vehicle-image img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	margin: 0px;
}
.vehicle-details .vehicle-image a{
	width: 96%;
	height: 170px;
	background-color: RGBA(0.0, 0.0, 0.0, 0.61);
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 5px;
	padding-top: 30%;
	visibility: hidden;
}
.vehicle-details .vehicle-image a{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
}
.vehicle-details .vehicle-image:hover a{
	animation-name: scale-up;
	-webkit-animation-name: scale-up;
	animation-duration: .8s;
	-webkit-animation-duration: .8s;
	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;

}
.vehicle-details .vehicle-image a:hover{
	text-decoration: none;
}
.vehicle-details h2{
	color: #2d2d30;
	font-family: 'Itim', cursive;
	font-size: 18px;
	text-align: center;
	padding: 0px 5px;
}
.vehicle-details p{
	color: #2d2d30;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	text-align: center;
	padding: 0px 5px;
}
@media screen and (max-width: 768px){
	.vehicles .container-fluid{
		padding: 100px 0px;
	}
	.vehicles .btn-group-justified{
		display: none;
	}
	.vehicles .btn-group-vertical{
		display: block;
		width: 80%;
		margin: auto;
	}
	.vehicle-list{
		padding: 20px 0px 0px 0px;
	}
	.vehicle-item{
		height: auto;
		margin-top: 10px !important; 
		padding: 0px 0px 10px 0px;
		border: 2px #FE9D0C solid;
	}
	.vehicle-item img{
		height: 220px;
		display: block !important;
	}
	.vehicle-details{
		height: auto;
		position: relative;
		background-color: transparent;
		display: block;
		padding: 10px 10px;
	}
	.vehicle-item:hover .vehicle-details{
		height: auto;
		position: relative;
		background-color: transparent;
		display: block;
		padding: 10px 10px;
	}
	.vehicle-details h2{
		color: #2d2d30;
		font-size: 20px;
	}
	.vehicle-details p{
		color: #2d2d30;
		font-size: 13px;
	}
	.vehicle-details button{
		width: 85%;
		margin: auto;
	}
} 

/*Footer*/
.foooter{
	text-align: center;
	background-color: #2d2d30;
	color: #ffffff;
	padding: 80px 0px;
}
.footer p{
	font-size: 18px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
}

/*About*/
.about{
	background-color: #f6f6f6;
}
.about-info h2{
	color: #2d2d30;
	font-family: 'Sigmar One', serif;
	font-size: 50px;
	text-align: left;
}
.about-info p{
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: #2d2d30;	
}
@media screen and (max-width: 768px){
	.about{
		padding: 0px 0px;
	}
	.about-info p{
		font-size: 15px;
	}
}
